In [35]:
import pandas as pd

In [36]:
df = pd.read_excel(
    r"C:\Users\Sujal Karmakar\Desktop\Desktop\Data Analyst\Python\python_data_analytics_project\lean_beast_india_custom_analysis\scraped_data_lean_beast_india.xlsx"
)

df.sample(5)

,Username,post_type,content_id,posted_time_details,day_of_week,hour_of_day,time_am_pm,video_duration,aspect_ratio,caption_text,...,hashtags_used,hashtag_count,all_mentions,mentions_count,audio_used,location,paid_partnership,likes_count,comments_count,post_context
1413,iamleanbeast_india,Reel,CoUINAhOutw,2023-02-06T08:41:38.000Z,Monday,14,02:11 PM,00:44,9:16,Zindagi ek hi mili sab khaoo ‚Ä¶ patla meh karwa...,...,"['#abs', '#fitness', '#gym', '#workout', '#bod...",30,[],0,"Achint, Mikey McCleary, Varun Grover, Anupama ...",NaN,NaN,6374.0,142.0,NaN
1161,iamleanbeast_india,Reel,CwiJmAihk6q,2023-08-29T15:32:55.000Z,Tuesday,21,09:02 PM,00:10,9:16,When he is 6‚Äô3 and she is 5‚Äô4 #couple #love #c...,...,"['#couple', '#love', '#couplegoals', '#cute', ...",30,[],0,original,NaN,NaN,17331.0,79.0,NaN
617,iamleanbeast_india,Reel,C8z2IEcSmD9,2024-06-29T18:43:45.000Z,Sunday,0,12:13 AM,00:18,9:16,Congrats @indiancricketteam üáÆüá≥,...,[],0,['@indiancricketteam'],1,original,NaN,NaN,2433.0,24.0,NaN
259,iamleanbeast_india,Reel,DEq8WPTSapU,2025-01-11T03:56:47.000Z,Saturday,9,09:26 AM,00:55,9:16,Comment ‚ÄúShare‚Äù and i will send the link of th...,...,[],0,[],0,original,NaN,Paid partnership with\nqnt.india,NaN,689.0,NaN
1475,iamleanbeast_india,Post,Clk87Mxt_Xu,2022-11-30T07:52:05.000Z,Wednesday,13,01:22 PM,NaN,4:5,Work work work,...,[],0,[],0,NaN,NaN,NaN,1936.0,13.0,"The Bikers Cafe, Gurgaon"

In [37]:
df.columns = df.columns.str.strip()

In [38]:
df["formatted_posted_time_details"] = pd.to_datetime(
    df["posted_time_details"], utc=True, errors="coerce"
)
df["formatted_posted_time_details"] = df["formatted_posted_time_details"].dt.tz_convert(
    "Asia/Kolkata"
)

df.drop(columns=["posted_time_details"], inplace=True)

In [39]:
df["posted_date"] = df["formatted_posted_time_details"].dt.date

In [40]:
df.head(5)

,Username,post_type,content_id,day_of_week,hour_of_day,time_am_pm,video_duration,aspect_ratio,caption_text,caption_length,...,all_mentions,mentions_count,audio_used,location,paid_partnership,likes_count,comments_count,post_context,formatted_posted_time_details,posted_date
0,iamleanbeast_india,Post,DJ0c4FlylXc,Monday,8,08:40 AM,NaN,1:1,Well done @jai.bajaj0786 lost 39kgs without co...,112,...,['@jai'],1,NaN,NaN,NaN,443.0,17.0,NaN,2025-05-19 08:40:04+05:30,2025-05-19
1,iamleanbeast_india,Post,DF65FG3yT-Z,Tuesday,10,10:36 AM,NaN,1:1,‚ö†Ô∏è‚ö†Ô∏è‚ÄºÔ∏èTRANSFORMATION ALERT ‚ö†Ô∏è‚ö†Ô∏è‚ÄºÔ∏è If he keen ...,158,...,[],0,NaN,NaN,NaN,800.0,15.0,"Delhi, India",2025-02-11 10:36:23+05:30,2025-02-11
2,iamleanbeast_india,Post,C8OUNStSKC7,Saturday,9,09:58 AM,NaN,1:1,Shredded mode on @manavkansagra1111 under my g...,123,...,['@manavkansagra1111'],1,NaN,NaN,NaN,1140.0,26.0,NaN,2024-06-15 09:58:09+05:30,2024-06-15
3,iamleanbeast_india,Reel,DKGgJptyiJ-,Monday,8,08:57 AM,00:59,9:16,Comment ‚ÄúAtta‚Äù and I will send you the link of...,82,...,[],0,original,NaN,NaN,848.0,2010.0,NaN,2025-05-26 08:57:28+05:30,2025-05-26
4,iamleanbeast_india,Post,DKFZihkSSQj,Sunday,22,10:38 PM,NaN,4:5,Dinner Date ‚ù§Ô∏èüßø‚ù§Ô∏èü•Ç #couple #love #couplegoals...,324,...,[],0,NaN,NaN,NaN,2761.0,12.0,Eros Hotel New Delhi,2025-05-25 22:38:00+05:30,2025-05-25

In [41]:
df.dropna(subset=["likes_count", "comments_count"], inplace=True)

In [42]:
df.drop_duplicates(subset=['content_id'], inplace=True)

In [43]:
leanbeast_followers = 483000

df["engagement_like_comment"] = df["likes_count"] + df["comments_count"]

df["engagement_per_1000_followers"] = (
    df["engagement_like_comment"] / leanbeast_followers
) * 1000

df["engagement_per_1000_followers"] = df["engagement_per_1000_followers"].round(2)

In [44]:
import numpy as np


def parse_duration_to_seconds(duration):
    if pd.isnull(duration):
        return np.nan
    try:
        parts = str(duration).split(":")
        parts = [int(p) for p in parts]
        if len(parts) == 3:  # HH:MM:SS
            return parts[0] * 3600 + parts[1] * 60 + parts[2]
        elif len(parts) == 2:  # MM:SS
            return parts[0] * 60 + parts[1]
        elif len(parts) == 1:  # SS
            return parts[0]
        else:
            return np.nan
    except:
        return np.nan


# Apply conversion
df["video_duration_seconds"] = df["video_duration"].apply(parse_duration_to_seconds)

df[["content_id", "video_duration_seconds"]].head(10)

    content_id  video_duration_seconds
0  DJ0c4FlylXc                     NaN
1  DF65FG3yT-Z                     NaN
2  C8OUNStSKC7                     NaN
3  DKGgJptyiJ-                    59.0
4  DKFZihkSSQj                     NaN
5  DKFEYgvzsIe                     NaN
6  DKEzSUPzGpN                    66.0
7  DKD_qgESuK3                    45.0
8  DKBvTHcS4so                    53.0
9  DJ_DIN2yKRN                    64.0

In [45]:
# # Create time period bucket
def time_period(hour):
    if 5 <= hour <= 11:
        return "Morning"
    elif 12 <= hour <= 16:
        return "Afternoon"
    elif 17 <= hour <= 21:
        return "Evening"
    else:
        return "Night"


df["time_period"] = df["hour_of_day"].apply(time_period)


# # Caption length bucket
def caption_length_bucket(length):
    if length <= 32:
        return "Very Short"
    elif length <= 75:
        return "Short"
    elif length <= 326:
        return "Medium"
    else:
        return "Long"


df["caption_length_bucket"] = df["caption_length"].apply(caption_length_bucket)

# Video duration buckets (optional)
df["video_duration_bucket"] = df["video_duration_seconds"].apply(
    lambda x: (
        (
            "Short"
            if x <= 15
            else "Medium" if x <= 30 else "Long" if x <= 60 else "Very Long"
        )
        if pd.notnull(x)
        else x
    )
)
# Export final cleaned and enriched data
# df.to_csv("leanbeast_analysis_ready.csv", index=False)

In [46]:
df.sample(5)

,Username,post_type,content_id,day_of_week,hour_of_day,time_am_pm,video_duration,aspect_ratio,caption_text,caption_length,...,comments_count,post_context,formatted_posted_time_details,posted_date,engagement_like_comment,engagement_per_1000_followers,video_duration_seconds,time_period,caption_length_bucket,video_duration_bucket
1592,iamleanbeast_india,Post,CYy9ffGJjH8,Sunday,21,09:08 PM,NaN,642:577,‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è #maldives #travel #maldivesislands #vis...,355,...,19.0,Maldives,2022-01-16 21:08:17+05:30,2022-01-16,3923.0,8.12,NaN,Evening,Long,NaN
790,iamleanbeast_india,Post,C5dcTaWS1w1,Sunday,17,05:50 PM,NaN,1:1,We all know that pain,21,...,59.0,"Delhi, India",2024-04-07 17:50:00+05:30,2024-04-07,2563.0,5.31,NaN,Evening,Very Short,NaN
85,iamleanbeast_india,Reel,DIbEO3RyT7a,Monday,15,03:33 PM,00:37,9:16,Peanuts with diet coke my first meal,36,...,286.0,NaN,2025-04-14 15:33:23+05:30,2025-04-14,6046.0,12.52,37.0,Afternoon,Short,Long
558,iamleanbeast_india,Reel,C99WbgfytYn,Sunday,13,01:21 PM,00:58,9:16,Kya hai ye natural supplement ?? Aaye jaante...,54,...,60.0,NaN,2024-07-28 13:21:22+05:30,2024-07-28,1842.0,3.81,58.0,Afternoon,Short,Long
1298,iamleanbeast_india,Post,Cr02FNhPA3U,Thursday,20,08:38 PM,NaN,4:5,Ghar ka gym #abs #fitness #gym #workout #body...,311,...,9.0,"Delhi, India",2023-05-04 20:38:30+05:30,2023-05-04,781.0,1.62,NaN,Evening,Medium,NaN

In [47]:
# def performance_bucket(score):
#     if score >= 10:  3change these 
#         return "High"
#     elif score >= 3:
#         return "Medium"
#     else:
#         return "Low"

# df["performance_tier"] = df["engagement_per_1000_followers"].apply(performance_bucket)
# df.to_csv("leanbeast_analysis_ready.csv", index=False)

df["engagement_per_1000_followers"].describe()

count    1551.000000
mean       26.079671
std       208.982603
min         0.420000
25%         3.985000
50%         6.460000
75%        12.495000
max      7428.480000
Name: engagement_per_1000_followers, dtype: float64

In [48]:
df["hashtag_count"].describe()

count    1551.000000
mean        7.803997
std        13.119609
min         0.000000
25%         0.000000
50%         0.000000
75%        26.000000
max        60.000000
Name: hashtag_count, dtype: float64

In [49]:
import ast

df['hashtags_used'] = df['hashtags_used'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else [])
df_exploded = df.explode('hashtags_used')

# Save back to CSV
df_exploded.to_csv("hashtags_exploded.csv", index=False)

In [53]:
hashtag_effectivness = (
    df_exploded.groupby(["hashtags_used"])
    .agg(
        median_engagement=("engagement_per_1000_followers", "median"),
        hashtag_count=("content_id", "nunique"),
    )
    .reset_index()
)

hashtag_effectivness.sort_values(by="hashtag_count", ascending=False, inplace=True)
hashtag_effectivness

          hashtags_used  median_engagement  hashtag_count
203            #fitness               6.77            344
211  #fitnessmotivation               6.89            342
243                #gym               6.82            342
667            #workout               6.78            341
190                #fit               6.82            340
..                  ...                ...            ...
661     #wellcoreenergy               5.96              1
660    #wellcore_energy               5.96              1
19    #LimitedTimeOffer               1.92              1
18          #Instragram              13.75              1
17        #HomeGymVibes               1.78              1

[681 rows x 3 columns]